<div class="centered-content">
    <div class="tabs is-fullwidth is-large" style="padding: 0 15px; width: 100%; max-width: 530px;">
        <ul>
            <li routerLinkActive="is-active">
                <a routerLink="normal-version">
                    <span>Normal</span>
                </a>
            </li>
            <li routerLinkActive="is-active">
                <a routerLink="os-version">
                    <span>OverlayScrollbars</span>
                    <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
                </a>
            </li>
        </ul>
    </div>

    <p style="margin-bottom: 15px; color: #555;">Keep on scrolling <b>up</b> to load more values</p>
    
    <router-outlet></router-outlet>
</div>